main.intro__contenido
        h2 #{titulo__principal}
        p 
            |Lorem, ipsum dolor sit amet consectetur adipisicing 
            |elit. Molestiae repudiandae eius nihil fuga dolore 
            |voluptatem, debitis neque. Id numquam ipsa, dolor 
            |quaerat nobis voluptatibus quo totam magni culpa 
            |aliquid eos. Lorem ipsum dolor sit amet consectetur, 
            |adipisicing elit. 
            span 
                |Molestias possimus, nobis architecto 
                |eveniet deserunt magni temporibus laboriosam rerum 
                |aliquam provident beatae animi accusantium, commodi 
                |inventore natus nostrum sunt, et praesentium!
        a.boton(href="") Leer más

        